*{padding:0; margin:0;}
a{text-decoration:none; out-line: none; color: #000000;}
/*头*/
header{width:100%; height:0.90rem; box-sizing:border-box; background:rgba(255, 216, 0, 1); position: relative;}
.logo{position: absolute; width:3.97rem; height:0.47rem; top:0.29rem; left:0.32rem;}
.sell{width: 100%; height: auto; overflow: hidden;}
/*尾*/
footer{position: fixed; left: 0; bottom: 0;  z-index: 99; width: 100%; height: 1.10rem; background: #F5F5F5; display: flex; box-sizing: border-box; padding:0 0.10rem; justify-content:space-around; align-items: center;}
footer .analy, .detail, .home{width: 1.20rem; height: 0.88rem;}
footer .analy a, .detail a, .home a{display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.g-img{width: 0.52rem; height: 0.52rem; background: url("../image/icon_sjgk_Not touched@2x.png") no-repeat center; background-size: 100%;}
.g-title{font-size:0.20rem; font-weight:500; color: #252525;}
.detail .g-img{background: url("../image/icon_sjxq_Not touched@2x.png") no-repeat center; background-size: 100%;}
.detail .g-title{color: #999999;}
.home .g-img{background: url("../image/icon_My account_touched@2x.png") no-repeat center; background-size: 100%;}
.home .g-title{color: #999999;}

/*主体*/
.avatar{margin-top:0.74rem; margin-bottom: 1.20rem; height: 1.80rem; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.avatar img{width: 1.44rem; height: 1.28rem;}
.avatar p{font-size:0.30rem; font-weight:500; color:rgba(0,0,0,1);}
.status{width: 100%; height: 2.0rem; padding-left: 0.32rem; padding-right: 0.10rem;}
.palce{width: 94.4%; height: 1.0rem; display: flex; box-sizing: border-box; justify-content: space-between; align-items: center; border-bottom: solid 0.01rem #F5F5F5; font-size: 0.30rem; color: #999999;}
.identity{width: 94.4%; height: 1.0rem; display: flex; box-sizing: border-box; justify-content: space-between; align-items: center; font-size: 0.30rem; color: #999999;}
.choice{display: flex; align-items: center; font-size:0.28rem; font-family:PingFang-SC-Regular; font-weight:400; color:rgba(51,51,51,1);}
.arrows{width: 0.13rem; height: 0.24rem; margin-left: 0.18rem; margin-right: 0.30rem; background: url("../image/icon_md_xz@2x.png") no-repeat center; background-size: 100%;}
.exit{width:6.58rem; height:0.86rem; margin:0 auto; margin-top:2.0rem; background:rgba(255,222,0,1); box-shadow:0 0 0.16rem 0 rgba(255,222,0,0.53); border-radius:0.43rem; line-height: 0.86rem; text-align: center; font-size:0.36rem; font-weight:500; color:rgba(51,51,51,1);}
input{text-align: right;}
#iden{font-size: 0.32rem;}
#seat{font-size: 0.32rem;}
#iden-input{margin-bottom:0.08rem;}
#palce-input{margin-bottom:0.04rem;}